*.exe
*.o
dro2vgm
optdac
optvgm32
optvgmrf
vgm2txt
vgm_cmp
vgm_cnt
vgm_dbc
vgm_facc
vgm_mono
vgm_ndlz
vgm_ptch
vgm_smp1
vgm_sptd
vgm_spts
vgm_sro
vgm_tag
vgm_trim
vgm_vol
vgmlpfnd
vgmmerge
opt_oki
vgm_stat
vc6/Debug
vc6/Release
vc6/*.plg
vc6/*.opt
vc6/*.ncb
